---
import Avatar from '@/components/ui/avatar.astro';
---

<section class="w-full bg-black text-white py-12 px-8 flex justify-center items-center">
    <div class="max-w-7xl mx-auto text-left">
        <div class="flex items-center gap-6 mb-4">
            <Avatar 
                src="../avatar.jpeg"
                alt="Zijie Wu"
                fallback="ZW"
            />
            <h1 class="text-5xl font-bold m-0 pb-2 bg-gradient-to-br from-white to-gray-500 bg-clip-text text-transparent leading-tight">
                Zijie Wu
            </h1>
        </div>
        <p class="text-xl leading-relaxed text-gray-300 max-w-2xl m-0">
            Hi, I a recent Bachelor’s graduate from <a href="https://www.umb.edu/" class="underline hover:text-white transition-colors">the University of Massachusetts Boston</a>, where I studied
            Computer Science. I have a strong interest in, and developed a solid foundation in <b>full-stack web development</b>, <b>software engineering</b>, and <b>machine learning</b>.  
            I’m now seeking opportunities to apply and grow these skills in a professional setting.
        </p>
    </div>
</section>
