<section class="w-full bg-black text-white py-12 px-8">
	<div class="max-w-7xl mx-auto">
		<div class="max-w-2xl mx-auto mb-8">
			<h2
				class="text-5xl font-bold mb-4 bg-gradient-to-br from-white to-gray-500 bg-clip-text text-transparent leading-tight"
			>
				Skills & Expertise
			</h2>
		</div>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-2xl mx-auto">
			<!-- Languages Card -->
			<div class="bg-black border border-gray-800 rounded-lg p-4">
				<h3 class="text-xl font-semibold text-white text-left mb-2">
					Languages
				</h3>
				<p class="text-gray-300">
					Native Cantonese and Fluent in Mandarin & English
				</p>
			</div>

			<!-- Programming Languages Card -->
			<div class="bg-black border border-gray-800 rounded-lg p-4">
				<h3 class="text-xl font-semibold text-white text-left mb-2">
					Programming Languages
				</h3>
				<p class="text-gray-300">
					Python, JavaScript, Typescript, Java, C, SQL, HTML, CSS
				</p>
			</div>

			<!-- Breadth Card -->
			<div class="bg-black border border-gray-800 rounded-lg p-4">
				<h3 class="text-xl font-semibold text-white text-left mb-2">
					Breadth
				</h3>
				<p class="text-gray-300">
					Communication, Version control, Project management, UI/UX
					Design, Technical Writing
				</p>
			</div>

			<!-- Technologies Card -->
			<div class="bg-black border border-gray-800 rounded-lg p-4">
				<h3 class="text-xl font-semibold text-white text-left mb-2">
					Technologies
				</h3>
				<p class="text-gray-300">
					Github, Three.js, Next.js, PostgreSQL, FastAPI, Astro,
					TailwindCSS
				</p>
			</div>
		</div>
	</div>
</section>
