---
import Navbar from '@/components/ui/navbar.astro';
import Footer from '@/components/ui/footer.astro';
import '@/styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>Zijie Wu | Portfolio</title>
	</head>
	
	<body class="m-0 w-full h-full bg-black">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>